@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800&display=swap');

*{
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
}

html, body{
    font-family: 'Open Sans', sans-serif;
}

.gifWrapper {
    max-width: 250px;
    margin: 2%;
    display: inline-block;

}

.gifStyles {
    width: 250px;
    height: 250px;
}

.buttonStyles {
    margin: 1% 10px;
    padding: 5px;
    width: 115px;
}

header {
    font-size: 2em;
    border-bottom: solid maroon 5px;
    width: 100%;
    max-width: 66%;
    display: inline-block;
}
    



.max-width {
    max-width: 66%;
}

section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

aside{
    display: inline-block;
    position: relative;
    bottom: -45px;
    padding-left: 10px;
}

#submitBtn{
    max-width: 60px;
    margin: 10px 0px;
}

#gifs {
    flex-direction: row;
    flex-wrap: wrap;
}

/* Need breakpoint for search box at 1024 */

@media only screen and (max-width: 640px){
    #gifs {
        margin: 0 auto;
    }
    
    section {
        margin: 0 auto;
    }
}